.form {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  &__input{
  width: 50%;
  padding: 0 .5rem;
  border-radius: 10px;
  border: 0;
  outline: 0;
  height: 40px;
  background-color: var(--secendary);
  color: var(--text);
  font-family: 'Dana-Medium';
  &::placeholder{
    color: var(--text);
  }
  }
  &__button{
  padding: 0 1rem;
  height: 40px;
  border: 0;
  background-color: var(--dark_primary);
  color: var(--text);
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Dana-Medium';
  }
}